Damian Hackett <46331701+dhacks541@users.noreply.github.com> dhacks541 <46331701+dhacks541@users.noreply.github.com>

Devlin Babcock <dsb298@cornell.edu> dsb298 <devlinbabcock71@gmail.com>
Devlin Babcock <dsb298@cornell.edu> dsb298 <dsb298@cornell.edu>

Eric Zhang <ewz4@cornell.edu> Eric <ewz4@cornell.edu>
Eric Zhang <ewz4@cornell.edu> Eric Zhang <your_netid@cornell.edu>
Eric Zhang <ewz4@cornell.edu> unknown <ewz4@cornell.edu>
Eric Zhang <ewz4@cornell.edu> Eric Zhang <70923541+ewz4@users.noreply.github.com>

Guankai Zhai <gz252@cornell.edu> Guankai Zhai <68624899+zgk2003@users.noreply.github.com> 

Harris Miller <hwm44@cornell.edu> hwm44 <hwm44@cornell.edu>

Kinjal Jasani <kjasani111@gmail.com>

Lauren Greenhill <ljgreenhill3@gmail.com> lgreenhill <Rabbit@456> 
Lauren Greenhill <ljgreenhill3@gmail.com> lgreenhill <lgreenhill@clearedgeit.com>
Lauren Greenhill <ljgreenhill3@gmail.com> ljgreenhill <ljgreenhill3@gmail.com>

Robin Lin <robin.lin99@yahoo.com> Robin (Zihao) Lin <robin.lin99@yahoo.com>

Weiyan Wu <ww333@cornell.edu> Weiyan-Wu <ww333@cornell.edu>
Weiyan Wu <ww333@cornell.edu> Wu Weiyan <ww333@cornell.edu>

Athena Cheung <athena.cheung97@gmail.com> athena255 <athena.cheung97@gmail.com>

Ria Vora <59478413+riavora02@users.noreply.github.com> riavora02 <59478413+riavora02@users.noreply.github.com>
